.background {
  background-color: black;
  position: relative;
  width: 100%;
  padding: 3rem;
  z-index: 20;
}

.background ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.background li {
  border-radius: 50px;
  margin: 0 2rem;
  padding: 1.5rem;
  background-color: white;
}

.background img {
  width: 3.5rem;
  height: 3.5rem;
}
